<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-item.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">

<link rel="import" href="../../components/buttons-bar.html">
<link rel="import" href="../../components/utils-mixin.html">

<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="controller-details">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex: auto;
      }

      /*
        Workaround for non-working dom-repeat inside tables in IE11
        (https://github.com/Polymer/polymer/issues/1567):
        use divs with table-like display values instead of the actual
        <table>, <tr> and <td> elements.
      */
      .table {
        display: table;
      }

      .tr {
        display: table-row;
      }

      .td {
        display: table-cell;
      }

      .main-row {
        flex: 1;
      }

      h3 {
        margin: 0;
        word-break: break-all;
        /* Non standard for WebKit */
        word-break: break-word;
        white-space: normal;
      }

      .date,
      .time {
        white-space: nowrap;
      }

      .dim,
      .secondary {
        color: var(--lumo-secondary-text-color);
      }

      .secondary {
        font-size: var(--lumo-font-size-xs);
        line-height: var(--lumo-font-size-xl);
      }

      .meta-row {
        display: flex;
        justify-content: space-between;
        padding-bottom: var(--lumo-space-s);
      }

      .products {
        width: 100%;
      }

      .products .td {
        text-align: center;
        vertical-align: middle;
        padding: var(--lumo-space-xs);
        border: none;
        border-bottom: 1px solid var(--lumo-contrast-10pct);
      }

      .products .td.product-name {
        text-align: left;
        padding-left: 0;
        width: 100%;
      }

      .products .td.number {
        text-align: right;
      }

      .products .td.money {
        text-align: right;
        padding-right: 0;
      }

      .history-line {
        margin: var(--lumo-space-xs) 0;
      }

      .comment {
        font-size: var(--lumo-font-size-s);
      }

      order-status-badge[small] {
        margin-left: 0.5em;
      }

      #sendComment {
        color: var(--lumo-primary-color-50pct);
      }

      @media (min-width: 600px) {
        .main-row {
          padding: var(--lumo-space-l);
          flex-basis: auto;
        }
      }
    </style>

    <div class="scrollable main-row" id="main">

      <vaadin-form-layout id="form1">
        <vaadin-form-item>
          <label slot="label">Наименование</label>
          <h3>[[item.name]]</h3>
        </vaadin-form-item>
      </vaadin-form-layout>

      <vaadin-form-layout id="form2">
        <vaadin-form-item>
          <label slot="label">UID</label>
          <span>[[item.uid]]</span>
        </vaadin-form-item>
      </vaadin-form-layout>

      <vaadin-form-layout id="form3">
        <vaadin-form-item>
          <label slot="label">Датчики</label>
          <div class="table products">
            <template is="dom-repeat" items="[[item.sensors]]" as="item">
                <div class="tr">
                  <div class="td product-name">
                    <div class="bold">[[item.name]]</div>
                  </div>
                </div>
            </template>
          </div>
        </vaadin-form-item>
      </vaadin-form-layout>
    </div>

    <buttons-bar id="footer" no-scroll$="[[noScroll]]">
      <vaadin-button slot="right" id="cancel" theme="tertiary">Отмена</vaadin-button>
      <vaadin-button slot="right" id="edit" theme="primary" hidden="[[review]]">
        Редактировать
        <iron-icon icon="vaadin:edit" slot="suffix"></iron-icon>
      </vaadin-button>
    </buttons-bar>
  </template>

  <script>
    class ControllerDetails extends window.ScrollShadowMixin(Polymer.Element) {
      static get is() {
        return 'controller-details';
      }

      static get properties() {
        return {
          item: {
            type: Object
          }
        };
      }

      ready() {
        super.ready();
      }
    }

    window.customElements.define(ControllerDetails.is, ControllerDetails);
  </script>
</dom-module>
