<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">

<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="sensor-details">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
        height: 100%;

        /*display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex: auto;
        height: 100%;
        width: 100%;*/
      }

      /*
        Workaround for non-working dom-repeat inside tables in IE11
        (https://github.com/Polymer/polymer/issues/1567):
        use divs with table-like display values instead of the actual
        <table>, <tr> and <td> elements.
      */
      .table {
        display: table;
      }

      .tr {
        display: table-row;
      }

      .td {
        display: table-cell;
      }

      .main-row {
        flex: 1;
      }

      h3 {
        margin: 0;
        word-break: break-all;
        /* Non standard for WebKit */
        word-break: break-word;
        white-space: normal;
      }

      .date,
      .time {
        white-space: nowrap;
      }

      .dim,
      .secondary {
        color: var(--lumo-secondary-text-color);
      }

      .secondary {
        font-size: var(--lumo-font-size-xs);
        line-height: var(--lumo-font-size-xl);
      }

      .meta-row {
        display: flex;
        justify-content: space-between;
        padding-bottom: var(--lumo-space-s);
      }

      .products {
        width: 100%;
      }

      .products .td {
        text-align: center;
        vertical-align: middle;
        padding: var(--lumo-space-xs);
        border: none;
        border-bottom: 1px solid var(--lumo-contrast-10pct);
      }

      .products .td.product-name {
        text-align: left;
        padding-left: 0;
        width: 100%;
      }

      .products .td.number {
        text-align: right;
      }

      .products .td.money {
        text-align: right;
        padding-right: 0;
      }

      .history-line {
        margin: var(--lumo-space-xs) 0;
      }

      .comment {
        font-size: var(--lumo-font-size-s);
      }

      order-status-badge[small] {
        margin-left: 0.5em;
      }

      #sendComment {
        color: var(--lumo-primary-color-50pct);
      }

      /*@media (min-width: 600px) {
        .main-row {
          padding: var(--lumo-space-l);
          flex-basis: auto;
        }
      }*/
    </style>

    <div class="table products">
      <div class="tr">
        <div class="td product-name">
          <table style="border-spacing: 0px;">
            <tr>
              <td colspan="2">
                <editable-field id="name" control="span" class="bold" value="[[[item.num]]] [[item.name]]"></editable-field>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="count">
                  <span>min</span> <span style="font-weight: bold;">[[item.minValue]]</span>
                </span>
                <span class="count">
                  <span>max</span> <span style="font-weight: bold;">[[item.maxValue]]</span>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </template>

  <script>
    class SensorDetails extends Polymer.Element {
      static get is() {
        return 'sensor-details';
      }

      static get properties() {
        return {
          item: {
            type: Object
          }
        };
      }

      ready() {
        super.ready();
      }
    }

    window.customElements.define(SensorDetails.is, SensorDetails);
  </script>
</dom-module>
