<Configuration>
    <Appenders>
        <File name="file" fileName="${sys:logPath}/antifrod-proxy.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%level - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--
        <Logger name="org.apache.log4j.xml" level="info">
            <AppenderRef ref="file"/>
        </Logger>
        -->
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>