<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../styles/shared-styles.html">

<link rel="import" href="../../components/status-badge.html">

<dom-module id="incident-card">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .content {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .wrapper {
        background: var(--lumo-base-color);
        background-image: linear-gradient(var(--lumo-tint-5pct), var(--lumo-tint-5pct));
        box-shadow: 0 3px 5px var(--lumo-shade-10pct);
        border-bottom: 1px solid var(--lumo-shade-10pct);
        display: flex;
        padding: var(--lumo-space-l) var(--lumo-space-m);
        cursor: pointer;
      }

      .main {
        color: var(--lumo-secondary-text-color);
        margin-right: var(--lumo-space-s);
        font-weight: bold;
      }

      .group-heading {
        margin: var(--lumo-space-l) var(--lumo-space-m) var(--lumo-space-s);
      }

      .secondary {
        color: var(--lumo-secondary-text-color);
      }

      .info-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
      }

      .badge {
        margin: var(--lumo-space-s) 0;
        width: 120px;
      }

      .time-place {
        width: 120px;
      }

      .name-items {
        flex: 1;
      }

      .place,
      .secondary-time,
      .full-day,
      .goods {
        color: var(--lumo-secondary-text-color);
      }

      .time,
      .name,
      .short-day,
      .month {
        margin: 0;
      }

      .name {
        word-break: break-all;
        /* Non standard for WebKit */
        word-break: break-word;
        white-space: normal;
      }

      .goods {
        display: flex;
        flex-wrap: wrap;
      }

      .goods > div {
        box-sizing: border-box;
        width: 18em;
       /* flex: auto;*/
        padding-right: var(--lumo-space-l);
      }

      .goods-item {
        display: flex;
        align-items: baseline;
        font-size: var(--lumo-font-size-s);
        margin: var(--lumo-space-xs) 0;
      }

      .goods-item > .count {
        margin-right: var(--lumo-space-s);
        white-space: nowrap;
      }

      .goods-item > div {
        /*flex: auto;*/
        padding-inline-end: 0.5em;
        word-break: break-all;
        /* Non standard for WebKit */
        word-break: break-word;
        /*white-space: normal;*/
      }

      @media (min-width: 600px) {
        .info-wrapper {
          flex-direction: row;
        }

        .wrapper {
          border-radius: var(--lumo-border-radius);
        }

        .badge {
          margin: 0;
        }

        .content {
          max-width: 964px;
        }
      }
    </style>
    <div class="content">
      <div id="wrapper" class="wrapper" on-click="_cardClick">
        <div style="display: flex;flex-direction: column;">
          <status-badge class="badge" status="[[incidentCard.type]]"></status-badge>
          <span class="count" style="display:inline-block; margin-top: var(--lumo-space-s); width: fit-content">
            <span style="font-weight: bold;">[[incidentCard.value]]</span>
            <span><span> [</span>[[incidentCard.minValue]] : [[incidentCard.maxValue]]<span>]</span></span>
          </span>
        </div>
        <div class="name-items">
          <h3 class="name">[[incidentCard.name]]</h3>
          <div>[[incidentCard.datetime]]</div>
        </div>
      </div>
    </div>
  </template>

  <script>
    class IncidentCard extends Polymer.Element {
      static get is() {
        return 'incident-card';
      }

      _cardClick() {
        this.$.wrapper.style="background-image:linear-gradient(var(--_lumo-grid-selected-row-color), var(--_lumo-grid-selected-row-color))";
        this.dispatchEvent(new CustomEvent('card-click'));
      }

    }

    window.customElements.define(IncidentCard.is, IncidentCard);
  </script>
</dom-module>
